<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
</head>
<body>
    <h1>WELCOME </h1>
    <H3>ENTER YOUR DETAILS</H3>

    <form method="post" action="/">

        <label>Enter your id</label>
        <input name="id" ><br><br>
        <label>Enter your name</label>
        <input name="name"><br><br>
        <label>Enter your age</label>
        <input name="age"><br><br>
        <label>Enter your blood_group</label>
        <input name="blood_group"><br><br>
        <label>Enter your class</label>
        <input name="class"><br><br>
        <label>Enter your cgpa</label>
        <input name="cgpa"><br><br>
        <label>Enter your tenth_mark</label>
        <input name="tenth_mark"><br><br>
        <label>Enter your twelth_mark</label>
        <input name="twelth_mark"><br><br>
        <label>Enter your aim_package</label>
        <input name="aim_package"><br><br>

        <button>submit</button>

    </form>
</body>
</html>